* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    background: url(../images/bg.jpg) 50% 50% no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw !important;
    height: 100vh !important;
}

section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-section {
    background-color: rgba(0, 0, 0, 0.75);
}
.footer-section {
    background-color: rgba(0, 0, 0, 0.9);
}

section p {
    font-size: 28px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

#canvas-section {
    position: relative;
    background: rgba(0, 0, 0, 0.82);
    height: 100vh;
    overflow: hidden;
    pointer-events: none;
}
